# Maven
target/
.mvn/

# IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Vim
*.swp
*.swo

# Логи
*.log

# Временные файлы
*.tmp
*.bak

# Результаты тестов
test-output/
